*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#fff;
    --text-color:#000;
    --dark-brown:rgba(112, 64, 26, 255);
    --light-brown:#e1c59d;
    --nav-grey:rgb(77, 75, 75);
    --nav-black:#000;
   --homeboxes-black:#000;
   --footer-black:#000;
   --nav-border:rgb(223, 220, 220);
   --homeboxes-p:rgb(65, 62, 62);
   --rightnews-hover:rgba(112, 64, 26, 255);
   --open-price-grey:rgb(82, 63, 63);
   --sales-black:#000;
   --sales-background:#eeedea;
   --nav-background:#fff;
}
.darkmode{
    --background-color: #000;
    --text-color:#fff;
    --nav-grey:#928e8e;
    --nav-black:#fff;
    --homeboxes-black:#fff;
    --footer-black:#fff;
    --nav-border:rgb(19, 18, 18);
    --homeboxes-p:rgb(143, 136, 136);
    --rightnews-hover:#fff;
    --open-price-grey:rgb(88, 85, 85);
    --sales-black:#fff;
    --sales-background:rgb(19, 18, 18);
    --nav-background:rgb(19, 18, 18);
}
body{
    overflow-x: hidden;
    font-family:"Poppins", sans-serif;
    font-size: 15px;
    background-color: var(--background-color);
    color:var(--text-color);
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background-color: #faf9f6;
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb{
    background: #d4cfc8;
    border-radius: 5rem;
}

.header{
    width: 100%;
    height:100%;
    background-color: rgba(112, 64, 26, 255);
    display: flex;
    justify-content: space-between;
    padding: 0.7% 2%;
    color: white;
}

#theme-switch{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(112, 64, 26, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 1rem;
}
#theme-switch box-icon:last-child{
    display: none;
}
.darkmode #theme-switch box-icon:first-child{
    display: none;
}
.darkmode #theme-switch box-icon:last-child{
    display: block;
}
.hideboxicon{
    display: none;
}
.header-flex{
    display: flex;
}
.cart, .search{
    display: flex;
    margin-left: 2rem;
}
.cart a{
    text-decoration: none;
    color: white;
}
.cart a:hover{
    color: #e1c59d;
    border-bottom: 2px solid #e1c59d;
    padding-bottom: 5px;
}
.align{
    margin: 0.5rem 0;
    font-size: 12px;
}
.align b{
    font-weight: 600;
}
 .search input[type=text]{
    border: none;
    border-radius: 3px;
    padding-left: 2rem;
    padding-top: 0.15rem;
 }
 .search{
    position: relative;
 }
 .boxicon{
    position: absolute;
    padding-top:0.5rem;
    padding-left: 0.5rem;
 }
.box-icon{
    margin-top:0.2rem;
    margin-right:0.4rem ;
}
.logo img{
    display: block;
    width: 20%;
    margin: auto;
}
nav{
    width: 95%;
    margin:0 2rem;
    border-bottom: 0.7px solid var(--nav-border);
    border-top:0.7px solid var(--nav-border);
    padding: 0.7rem 10rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--nav-grey);
}
nav ul li a:hover{
    color: rgba(112, 64, 26, 255);
    font-weight: bold;
}
nav ul li a b{
    color: var(--nav-black);
}
nav ul li a b:hover{
    color: rgba(112, 64, 26, 255);
}
/* .imgslide{
    width: 95%;
    margin:2rem ;
}
.imgslide img{
    width: 100%;
    height: 100%;
} */
 .body{
    margin-top: 2rem;
    padding: 0;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
 }
 .slider{
    width: 95%;
    height:100%;
    overflow: hidden;
 }
 .slides{
    width: 500%;
    height: 100%;
    display: flex;
 }
 .slides input{
    display: none;
 }
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 100%;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #e1c59d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #e1c59d;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top:94vh;
}

.navigation-auto div{
    border: 2px solid #e1c59d;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #e1c59d;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #e1c59d;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #e1c59d;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #e1c59d;
}

 .homecollection{
    margin: 2rem 1rem ;
 }
 .homecollection h1{
    margin: 5rem auto 3rem;
    border-bottom: 5px solid #e1c59d;
    border-radius: 5px;
    width: 20.2%;
    text-align:center ;
 }
 .home-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
 }
.homeboxes{
    width: 22%;
    margin: 1rem auto;
}
.homeboxes img{
    width: 100%;
    object-fit: contain;
    display: block;
}
.hovercontent{
    position: relative;
    width: 100%;
}
.hovertext{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.hovertext:hover{
    opacity: 1;
}
.hovertext h1{
    width: 100%;
    text-align: center;
    color: #e1c59d;
    border-bottom: none;
    font-size: 13px;
    margin: 0;
    margin-bottom: 0.2rem;
    padding: 0;
}
.changeh4{
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 0.5rem;
}
.hovertext button{
    display: block;
    margin-top:1rem ;
    background-color: rgba(112, 64, 26, 255);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
}
.hovertext button:hover{
    color: #e1c59d;
}
.homeboxes .boldh3,.boldp{
    margin: 5% 0;
    text-align: center;
}
.homeboxes h3 a{
    text-decoration: none;
    color: var(--homeboxes-black);
    font-size: 14px;
}
.homeboxes .boldp{
    color: grey;
    font-size: 10px;
    font-weight: normal;
}
.homeboxes p{
    color: var(--homeboxes-p);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}
.deals{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(./Images/277.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: block;
    border-radius: 9rem;
    position: relative;
    z-index: 1;  
}
.centerh1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttoncenter button {
    display: block;
    margin: -17% auto;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    background-color: rgba(112, 64, 26, 255);
}
.buttoncenter button a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}
.buttoncenter button a:hover{
    color: #e1c59d;
}
.centerh1 span{
    border-bottom: 3px solid #e1c59d;
    
}
.deals h1{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    
}
.tdelivery{
    background-color: #e1c59d;
    width: 100%;
    height: 50vh;
    margin-top:-20%;
    position: absolute;
}
.delivery{
    padding:5rem;
    background-color: #e1c59d;
    width: 100%;
    height: 100%;
    display: flex;
}
.deliveryflex{
    display: flex;
}
.deliverytext{
    margin: 0 1rem;
}
.deliverytext h2{
    font-size: 15px;
    color: #000;
}
.deliverytext h5{
    color: gray;
    font-weight: 400;
}
.newsletter{
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 10%;
    margin:8rem;
}
.leftnews,.rightnews{
    width: 50%;
}
.leftnews h3{
    font-size: 1.3rem;
}
.rightnews input[type=email]{
    width: 50%;
   padding: 0.5rem ;
   
}
.rightnews input[type=email]:hover{
    border: 2px solid var(--rightnews-hover);
}
.rightnews button{
    display: block;
    margin-top:1rem ;
    background-color: rgba(112, 64, 26, 255);
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 3rem;
    color: #fff;
    font-weight: bold;
 }
 .rightnews button:hover{
    color: #e1c59d;
 }
 .location{
    width: 100%;
    height: 60vh;
    display: flex;
    background-color:#faf9f6;
 }
 .leftlocation,.rightlocation{
    width: 50%;
 }
 .leftlocation img{
    display: block;
    margin: -6rem auto;
    width: 90%;
 }
 .rightlocation{
    margin: 3% 0 3% 5%;
    overflow-x: hidden;
 }
 footer{
    margin: 5rem 0;
    display: flex;
 }
 .leftfooter,.rightfooter{
    width: 50%;
    display: flex;
    justify-content: space-around;
 }
 footer h3{
    font-weight: 500;
 }
 .firstul ul li{
    list-style: none;
 }
 .firstul ul li a{
    text-decoration: none;
    color: #727170;
    line-height: 2.5rem;
    font-weight: 400;
 }
 .firstul ul li a:hover{
    color: #4b3516;
 }
 .reduce{
    color: #727170; 
    font-weight: 400;  
 }
 .secondnews input{
    width: 100%;
    padding: 0.5rem ;
 }
 .secondnews input:hover{
    border: 2px solid var(--rightnews-hover);
 }
.secondnews button{
    display: block;
    margin-top:1rem ;
    background-color: rgba(112, 64, 26, 255);
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 3rem;
    color: #fff;
    font-weight: bold;
}
.secondnews button:hover{
    color:#e1c59d;
}
footer box-icon{
    fill: var(--footer-black);
}
 footer box-icon:hover{
    fill: rgba(112, 64, 26, 255);
}
.footerimg img{
    width: 30%;
    display: block;
    margin: auto;
}
/* About Styling */
.aboutus{
    width: 100%;
    margin: 0 4rem;
    display: flex;
    justify-content: flex-end;
}
.leftabout,.rightabout{
    width: 50%;
}
.leftabout p{
    text-align: left;
}
.aboutus h1{
    margin-top: 3rem;
    border-bottom: 2px solid #e1c59d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 21%;
}
.rightabout img{
    width: 70%;
    margin:9.5rem 4rem 0 4rem;  
    border-radius: 1rem;
}
.servicesflex{
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0 ;
    row-gap: 4rem;
}
.services{
    display: flex;
    width: 50%;
}
.lighter{
    color: #727170;
    font-weight: 400;
}
.first h2{
    font-size: 13px;
    /* color:#727170; */
    margin-bottom: 5px;
}

.ticon{
   margin: 1rem 0.2rem;
}
.leftabout a{
    color: rgba(112, 64, 26, 255);
    text-decoration: none;
}
.leftabout a:hover{
    font-weight: 600;
}
.searchreplace button{
    border: none;
    background-color: #e1c59d;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    margin-left: 2rem;
}
.searchreplace button a{
    text-decoration: none;
    color: rgba(112, 64, 26, 255);
    font-weight: 600;
}
.searchreplace button a:hover{
    color: #000;
}

/* Combo Styling */
.scrolling-text-container{
    display: flex;
    align-items: center;
    background-color: var(--footer-black);
    color: var(--background-color);
    font-size: 12px;
}
.scrolling-text-container span{
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    padding: 8px 20px;
    background-color: rgb(190, 3, 3);
    color: #fff;
    clip-path: polygon(0 0,85% 0,100% 100%,0 100%);
    font-weight: 600;
}
.combowrapper{
    width: 100%;
    height: 85vh;
   padding: 5rem 0;
    display: flex;
    border-bottom: 1px solid var(--nav-border);
}
.leftcombo,.rightcombo{
    width: 50%;
}
.leftcombo img{
    width: 50%;
    display: block;
    margin: auto;
}
.rightcombo{
    margin-right: 7rem;   
}
.rightcombo h1,p{
   margin-bottom: 1rem;
}
.rightcombo p{
    font-size: 13px ;
    font-weight: 400;
}

.rightcombo box-icon{
    width: 2%;
    vertical-align: middle;
    fill: var(--footer-black);
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: brown;
    display: inline-block;
    margin-right: 0.3rem;
}
.dot2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(226, 6, 43);
    display: inline-block;
    margin-right: 0.3rem;
}
.dot3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gold;
    display: inline-block;
    margin-right: 0.3rem;
}

.rightcombo .button1{
    padding: 0.5rem;
    background-color: var(--background-color);
    border: 1px solid var(--nav-border);
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 1rem;
    color: var(--footer-black);
}
.rightcombo .button1:hover{
    border: 1px solid rgba(112, 64, 26, 255);
}
.rightcombo .button2:hover{
    border: 1px solid rgba(112, 64, 26, 255);
}
.rightcombo .button2 {
    width: 60px;
    height: 50px;
    background-color: var(--background-color);
    border: 1px solid var(--nav-border);
    margin-right: 1rem;
}
.rightcombo .button2 img{
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    border-radius: 0.3rem;
}
.adc {
    background: var(--background-color);
    border: 2px solid rgba(112, 64, 26, 255);
    padding: 1rem;
    border-radius: 50%;
    margin: 0;
}
.adc box-icon{
    width: 100%;
}
.adc box-icon:hover{
    fill: rgba(112, 64, 26, 255);
}
 
/* Contact Styling */
.contact{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}
.contact input,textarea{
    width: 100%;
}
.contact input{
    padding: 1rem;
    border: 1px solid var(--nav-border) ;
    background-color:var(--background-color) ;
    margin-bottom: 3rem;
}
.contact textarea{
    height: 15vh;
    border: 1px solid var(--nav-border) ;
    background-color:var(--background-color) ;
    font-family: 'Arial',sans-serif;
    padding: 2rem 1rem;
    resize: none;
}
.contact button{
    padding: 0.6rem 1.5rem;
    border: none;
    background-color: rgba(112, 64, 26, 255);
    color: white;
    font-weight: bold;
    margin-top: 0.7rem;
    float: right;
}
.contact button:hover{
    color: #e1c59d;
}
.error{
    color: red;
    font-size: 0.8rem;
    margin-bottom:0.5rem;
}
input.invalid{
    border: 1px solid red;
}
textarea.invalid{
    border: 1px solid red;
}

/* Footer Section Styling */
.display{
    width: 70%;
    text-align: left;
    margin: 3rem auto;
 }
 .display span{
    color: rgb(197, 6, 6);
 }
 .track-your-order input{
    width: 80%;
    padding: 1rem ;
    background-color: var(--background-color);
    border: 1px solid var(--nav-border);
 }
 .track-your-order button{
    display: block;
    border: none;
    padding: 0.7rem 2rem;
    margin-top: 2rem;
    background-color: rgba(112, 64, 26, 255);
    color: #fff;
 }
 .track-your-order button:hover{
    color: #e1c59d;
 }
 .privacy-policy ul{
    margin-left: 2rem;
 }

 /* Open Box Styling */
 .openwrapper{
    margin: 3rem;
    height: 70vh;
    display: flex;
    border-top: 1px solid var(--nav-border);
    border-bottom: 1px solid var(--nav-border);
    border-right: 1px solid var(--nav-border);
}
.leftopen{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem;
    row-gap: 1rem;
}
.div1{
    width: 50%;
}
.one{
    width: 70%;
    border-bottom: 1px solid var(--nav-border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: var(--nav-grey);
}
.rightopen{
    width: 30%;
}
.rightopen img{
    height: 70vh;
    width: 100%;
    object-fit: cover;
    
}
.divflex{
    margin-top: 1.5rem;
    color: var(--open-price-grey);
    font-weight: 100;
    font-size: 12px;
    text-align: right;
}
.divflex s{
    color: #97948e;
}
.hide{
    opacity: 0;
}
.h2{
    width: 13.5%;
    margin: auto;
    margin-top: 2rem;
    border-bottom: 3px solid #e1c59d;
}

/* Sales Styling */

.messagecontainer{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messagedisplay{
    width: 50%;
    background-color:var(--sales-background);
    border-radius: 5px;
    height: 40vh;
}
.messagedisplay h3{
    text-align: center;
    margin: 3.5rem 0 1rem 0;
    font-size: 1.2rem;
    color: var(--sales-black);
}
.messagedisplay p{
    width: 60%;
    margin: 0 auto;
    color: grey;
}
.messagedisplay button{
    padding: 0.6rem 1rem;
    background-color: black;
    border-radius: 5rem;
    border: none;
    display: block;
    margin: 1.5rem auto;
}
.messagedisplay a{
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0; 
    font-size: 0.8rem;
}
.messagedisplay a:hover{
    opacity: 0.85;
}
.hide-nav{
    display: none;
}
@media screen and (max-width:400px){
    body{
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }
    .header{
        height: 8vh;
        align-items: center;
    }
.header-flex .cart,.search{
    display: none;
} 
.home span{
    display: none;
}
#theme-switch box-icon{
    width: 50%;
    vertical-align: middle;
}
.hideboxicon{
    display:block;
   margin-top:0.2rem ;
}
.logo img{
    width: 90%;
    margin: 2rem auto;
}
.home p{
    font-size: 11px;
}
.hide-nav{
    display: block;
}
.cart2{
    display: flex;
    justify-content: center;
}
.cart2 a{
    text-decoration: none;
    color: var(--footer-black);
    font-weight: bolder;
}
.cart2 .box-icon{
    fill: var(--footer-black);
}
.cart2 a:hover{
   color: rgba(112, 64, 26, 255);
}
.search2 input{
        border: 1px solid grey;
        border-radius: 3px;
        padding: 0.5rem 1rem;
     }
     
nav{
    /* display: none; */
    position: absolute;
      top: 3.5rem;
      width: 100%;
      background-image: linear-gradient(to bottom,hsla(240, 12%, 5%, 0.5),hsla(0, 0%, 4%, 0.7));
      border: none;
      height: 90vh;
      z-index: 1;
      transition: all 1s ease-out;
      transform:translateX(-150%);
      margin: 0;
      padding: 0;
}
nav.active{
    transition: all 1s ease-out;
    transform: translateX(0);
 }
 nav.hide{
    transition: all 1s ease-out;
    transform:translateX(-150%);
 }
nav ul{
    width: 80%;
      background: var(--nav-background);
      margin: 15% auto ;
      padding: 1rem;
      border-radius: 0.5rem;
      text-align: center;
      flex-direction: column;
}
nav ul li{
      display: block;
      margin: 0 0 1rem 0;
      font-size: 14px;
}

/* .imgslide{
    width: 95%;
    margin:0 auto 4rem;
}
.imgslide img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
} */
.body{
    margin: 0;
    margin-bottom: 3.5rem;
    height: 40vh;
}
.slide img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.manual-btn{
    padding: 3px;
}
.navigation-auto{
    margin-top:33.8vh;
}
.navigation-auto div{
    padding: 3px;
}
.navigation-auto div:not(:last-child){
    margin-right: 20px;
}
.manual-btn:not(:last-child) {
    margin-right: 20px;
}
.homecollection{
    margin: 2rem 1rem ;
 }
 .homecollection h1{
    width: 60%;
    font-size: 15px;
    margin: 1.5rem auto 4rem;
    text-align: center;
 }
 .home-container{
    flex-direction: row;
    justify-content: space-between;
 }
.homeboxes{
    width: 48%;
    margin: 0;
}
.homeboxes h3 a{
    font-size: 12px;
}
.homeboxes .boldp{
    font-size: 8px;
}
.homeboxes p{
    font-size: 12px;
}
.hovertext h1{
    font-size: 8px;
    margin-bottom:1px;
    margin: 0;
    padding: 0;
}
.changeh4{
    margin: 0;
    font-size: 8px;
    margin-bottom: 2px;
}
.hovertext button{
    margin-top:0.5rem ;
    padding: 0.5rem 0.7rem;
    font-size: 8px;
}
.deals{
    width: 100%;
    height: 50vh;
    background-size:190%;
    background-position: center;
    border-radius: 6rem;
}
.centerh1{
    height: 100%;
}
.deals h1{
    font-size: 2.3rem;
}
.buttoncenter button{
    margin: -24% auto;
    padding: 10px 20px;
}
.buttoncenter button a{
    font-size: 12px;
}
.tdelivery{
    height: 20vh;
}
.delivery{
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 2.5rem;
}
.newsletter{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0;
    padding: 5rem 3rem;
}
.leftnews,.rightnews{
    width: 100%;
}
.leftnews h3{
    font-size: 1.2rem;
}
.rightnews input[type=email] {
    width: 100%;
}
.location{
    flex-direction: column;
    height: 100%;
}
.leftlocation{
    margin: 0 auto;
    width: 100%;
}
.leftlocation img{
    width: 100%;
    margin: 0 ;
}
.rightlocation{
    width: 100%;
    margin: 0 2%;
}
footer{
    flex-direction: column;
    margin-bottom: 2rem;
}
.leftfooter{
    width: 100%;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
}
.rightfooter{
    margin-left: 1.5rem;
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
}
.secondnews input{
    width: 70%;
    margin: 0 auto 1rem;
}
.footerimg img{
    width: 80%;
}
/* About */
.aboutus{
    flex-direction: column-reverse;
    margin: 0;
    
}
.aboutus h1{
    width:32%;
    margin-bottom: 2rem;
    font-size: 20px;
}
.rightabout,.leftabout{
    width: 100%;
}
.rightabout img{
    margin: 0;
    width: 100%;
    border-radius: 0;
}
.servicesflex{
    margin: 3rem 0;
}
.leftabout h1,p{
    padding: 0 0.5rem;
}
/* Combo */

.combowrapper{
    height: 100%;
    padding: 2rem  1rem;
    flex-direction: column;
}
.leftcombo{
    width: 100%;
}
.leftcombo img{
    width: 100%;
    margin-bottom: 2rem;
}
.rightcombo{
    margin: 0;
    width: 100%;
}
.rightcombo h1{
    font-size: 16px;
}
.rightcombo p{
    padding: 0;
    font-size: 14px;
}

/* Sales */
.messagedisplay{
    width: 100%;
    height: 35vh;
    margin: 2rem;
    padding: 2rem 0;
}
.messagedisplay h3{
    font-size: 14px;
    margin: 0 auto 1rem;
    width: 85%;
}
.messagedisplay p{
    width: 80%;
    text-align: center;
    font-size: 12px;
}
.messagedisplay button{
    padding: 0.4rem 0.8rem;
}
.messagedisplay button a{
    font-size: 9px;
}
/* Open Box */

.h2{
    width: 52%;
    text-align: center;
}
.openwrapper{
    flex-direction: column;
    height: 100%;
    margin: 3rem 0;
}
.leftopen{
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 2rem;
}
.div1{
    width: 100%;
}
.div1 p{
    padding: 0;
}
.rightopen{
    width: 100%;
}
}



@media screen and (max-width:350px){
    body{
        overflow-x: hidden;
    }
    .logo img{
        width: 90%;
    }
    .home p{
        font-size:12px;
    }
     .homecollection h1{
        width: 60%;
        font-size: 13px;
        margin: 1.5rem auto 2rem;
        text-align: center;
     }
    .homeboxes{
        width: 48%;
    }
    .homeboxes h3 a{
        font-size: 10px;
    }
    .homeboxes .boldp{
        font-size: 8px;
    }
    .homeboxes p{
        font-size: 10px;
    }
    .hovertext h1{
        font-size: 6px;
        margin-bottom:0.5px;
        margin: 0;
        padding: 0;
    }
    .changeh4{
        margin: 0;
        font-size: 6px;
        margin-bottom: 1.5px;
    }
    .hovertext button{
        margin-top:0.5rem ;
        padding: 0.3rem 0.5rem;
        font-size: 6px;
    }
    .deals{
        height: 45vh;
        background-size:230%;
        border-radius: 5rem;
    }
    .deals h1{
        font-size: 1.8rem;
    }
    .buttoncenter button{
        margin: -29% auto;
    }
    .delivery{
        padding: 5rem 2rem;
    }
    .leftfooter{
        width: 100%;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        padding: 0 1.3rem;
    }
    .rightfooter{
        margin-left: 1.5rem;
        margin-top: 2rem;
        width: 100%;
        flex-direction: column;
        text-align: left;
        gap: 2rem;
    }
    .secondnews input{
        width: 70%;
        margin: 0 auto 1rem;
    }
    .footerimg img{
        width: 80%;
    }
    /* About */
    .aboutus h1{
        width:38%;
    }
    /* Open Box */
    .h2{
        width: 61%;
    }
}